/*
Errno::ENOENT: No such file or directory @ rb_sysopen - resources/assets/sass/style.scss

Backtrace:
/Users/RyanTran/.rvm/gems/ruby-2.3.0/gems/sass-3.5.2/lib/sass/plugin/compiler.rb:454:in `read'
/Users/RyanTran/.rvm/gems/ruby-2.3.0/gems/sass-3.5.2/lib/sass/plugin/compiler.rb:454:in `update_stylesheet'
/Users/RyanTran/.rvm/gems/ruby-2.3.0/gems/sass-3.5.2/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/RyanTran/.rvm/gems/ruby-2.3.0/gems/sass-3.5.2/lib/sass/plugin/compiler.rb:209:in `each'
/Users/RyanTran/.rvm/gems/ruby-2.3.0/gems/sass-3.5.2/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/RyanTran/.rvm/gems/ruby-2.3.0/gems/sass-3.5.2/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/RyanTran/.rvm/gems/ruby-2.3.0/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/Users/RyanTran/.rvm/gems/ruby-2.3.0/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/RyanTran/.rvm/gems/ruby-2.3.0/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
/Users/RyanTran/.rvm/gems/ruby-2.3.0/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
/Users/RyanTran/.rvm/gems/ruby-2.3.0/gems/sass-3.5.2/bin/scss:13:in `<top (required)>'
/Users/RyanTran/.rvm/gems/ruby-2.3.0/bin/scss:23:in `load'
/Users/RyanTran/.rvm/gems/ruby-2.3.0/bin/scss:23:in `<main>'
/Users/RyanTran/.rvm/gems/ruby-2.3.0/bin/ruby_executable_hooks:15:in `eval'
/Users/RyanTran/.rvm/gems/ruby-2.3.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory @ rb_sysopen - resources/assets/sass/style.scss"; }
